{% extends 'authentication/login.html' %}

{% load static %}

{% block login_box %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{% url 'home' %}" class="h3">Your Building Name</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Change Password</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for error in form.errors.old_password %}
              <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#dc3545!important;"></i>
              <span class="text-danger">{{error}}</span>
            {% endfor %}
          <div class="input-group mb-3">
            <input type="password" name="old_password" class="form-control" placeholder="Old Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
            {% for error in form.errors.new_password1 %}
              <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#dc3545!important;"></i>
              <span class="text-danger">{{error}}</span>
            {% endfor %}
          <div class="input-group mb-3">
            <input type="password" name="new_password1" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          {% if form.errors.new_password2%}
            {% for error in form.errors.new_password2 %}
              <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#dc3545!important;"></i>
              <span class="text-danger">{{error}}</span>
            {% endfor %}
            {% endif %}
            <div class="input-group mb-3">
              <input type="password" name="new_password2" class="form-control" placeholder="Confirm Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Change</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
    {% if form.errors %}
            <div class="login-box-msg">
                <span class="text-left">{{form.new_password1.help_text}}</span>
            </div>
      {% endif %}
  </div>
</div>
<!-- /.login-box -->
{% endblock login_box %}
