{% extends 'admin-side/index.html' %} {% load static %} {% block main_page %}
<div class="content h-100 p-4">
  <div class="container-fluid">
    <div class="card bg-secondary rounded">
      <div class="card-header bg-dark text-white">
        <h3 class="card-title">
          List of All {{ title.capitalize }} {% comment %}
          <a
            class="btn btn-outline-success"
            href="{% url 'register-lesson' %}"
            style="float: right"
          >
            Add New Lesson
          </a>
          {% endcomment %}
        </h3>
      </div>

      <div class="card-body">
        <div class="col-12">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">{{ title }}</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course</th>
                  <th scope="col">Bank Name</th>
                  <th scope="col">Payment Date</th>
                  <th scope="col">transcation ID</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                {% if object_list.count > 0 %} {% for data in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.course_order_id}}</td>
                  <td>{{ data.bank_name }}</td>
                  <td>{{ data.payment_date}}</td>
                  <td>{{ data.transaction_id}}</td>

                  <td class="product-action d-flex">
                    {%if data.status == False%}
                    <form method="POST">
                      <a
                        class="btn btn-success btn-sm mr-3"
                        href="{% url 'confirm' data.id %}"
                      >
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Confirm
                      </a>
                    </form>
                    {% else %}
                    <a
                      class="btn btn-success btn-sm mr-3 disabled"
                      href="{% url 'confirm' data.id %}"
                    >
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Confirm
                    </a>
                    {% endif %} {% comment %}
                    <a
                      class="btn btn-info btn-sm mr-3"
                      href="{% url 'update-lesson' data.id %}"
                    >
                      <i class="fas fa-pencil-alt"> </i>
                      Edit
                    </a>
                    {% endcomment %}
                    <form methon="POST">
                      {% if data.status %}
                      <a
                        class="btn btn-danger btn-sm mr-3"
                        href="{% url 'reject' data.id %}"
                      >
                        <i class="fas fa-trash"> </i>
                        Reject
                      </a>
                    </form>
                    {% else %}
                    <a class="btn btn-danger btn-sm mr-3 disabled" href="">
                      <i class="fas fa-trash"> </i>
                      Reject
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                  <td
                    colspan="6"
                    class="dataTables_empty text-center"
                    valign="top"
                  >
                    No records found
                  </td>
                </tr>

                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_page %} {% block scripts %} {% load static %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    $("#example1")
      .DataTable({
        scrollX: true,
        buttons: ["copy", "excel", "pdf", "print"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
  });
</script>
{% if messages %} {% for message in messages %}
<script>
  $(function () {
    var Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 3000,
    });
    Toast.fire({
      icon: "{{ message.tags }}",
      title: "{{ message|safe }}",
    });
  });
</script>
{% endfor %} {% endif %} {% endblock scripts %}
