{% extends 'admin-side/index.html' %}

{% block main_page %}

<div class="content h-100 p-4 ">
    <div class="container-fluid">
      <div class="card bg-secondary rounded ">
        <div class="card-header bg-dark text-white">
      {{card_header}}
      </div>
        
        <div class="card-body">

          {% if objects %}
            <h3>User: {{ object }}</h3>
          {% endif %} 

          <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          {% for field in form %}
            {{field.id}}
            <div class="form-group ml-auto mr-auto w-75">
              {% for error in field.errors %}
                <span class="text-danger">
                <span class="fas fa-exclamation-triangle pr-2"></span>{{error}}<br>
                </span>
              {% endfor %}
              {{field.label}}
              {{field}}
            </div>
            {% endfor %}
            <div class="card-footer">
              <input type="Submit" class="btn btn-primary float-right ml-5" value="Done">
            </form>
            <button class="btn btn-danger float-right" onclick="javascript:history.go(-1);">Cancel</button>
          </div>
      </div>
      
    </div>
  </div>
</div>


{% endblock main_page %}