{% extends 'chat/index.html' %} {% block main_page%}
<div class="chat">
  <div class="chat-header clearfix">
    <div class="row">
      <div class="col-lg-6">
        <a
          href="javascript:void(0);"
          data-toggle="modal"
          data-target="#view_info"
        >
        </a>
        <div class="chat-about">
          <h6 class="m-b-0">{{ room_detail.name }}</h6>
          <small></small>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-history">
    <ul class="m-b-0">
      {% for message in messages%} {%if message.sender == request.user%}
      <li class="clearfix">
        <div class="message-data text-right">
          <span class="message-data-time">{{ message.date }}</span>

          You
        </div>
        <div class="message other-message float-right">
          {{ message.message }}
        </div>
      </li>
      {%else%}
      <li class="clearfix">
        <div class="message-data">
          <span class="message-data-time">{{ message.date }}</span>
          <img
            src="https://bootdey.com/img/Content/avatar/avatar7.png"
            alt="avatar"
          />
          {{ message.sender }}
        </div>
        <div class="message other-message">{{ message.message }}</div>
      </li>
      {%endif%} {%endfor%}
    </ul>
  </div>
  <div class="chat-message clearfix">
    <div class="input-group mb-0">
      <div class="input-group-prepend"></div>
      <form id="post-form" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="message"
          id="message"
          class="form-control"
          placeholder="Enter text here..."
        />
      </form>
    </div>
  </div>
</div>
{%endblock main_page%}
